<div class="product-card">
  <img
    [src]="product.image_path"
    alt="{{ product.name }}"
    class="product-card__image"
  />

  <div class="product-card__details">
    <h2 class="product-card__name">{{ product.name }}</h2>
    <p class="product-card__price">
      {{ product.price.toFixed(2) | currency : "USD" }}
    </p>
    <p class="product-card__description">{{ product.short_description }}</p>

    <div class="product-card__actions">
      <button (click)="addToCart()" class="product-card__actions__button">
        Add to Cart
      </button>
      <button (click)="viewDetails()" class="product-card__actions__button">
        View Details
      </button>
    </div>
  </div>
</div>
