<!-- TODO: replace all links with router link -->
<nav class="navbar">
    <div class="navbar__logo">
      <span href="#">MyStore</span>
    </div>

    <div class="navbar__search">
      <input type="text" placeholder="Search for products...">
    </div>

    <div class="navbar__icons">
      <a href="#" class="navbar__cart">
        <img src="images/cart.svg" alt="Cart">
        <span class="navbar__cart__badge">3</span>
      </a>
      
      <!-- dropdown user menu -->
      <div class="navbar__user">
        <a href="#" class="navbar__user__icon">
          <img src="images/user.svg" alt="User">
        </a>
        <div class="navbar__user__content">
          <a href="#">Sign in</a>
          <a href="#">Sign</a>
        </div>
      </div>
    </div>
  </nav>
